body {
    height: 100dvh;
    background-image: linear-gradient(150deg, var(--secondary) 50%, var(--primary)50%) !important;
    background-position: cover;
    background-repeat: no-repeat;
}

.light {
    color: var(--light);
}

.header {
    height: 100dvh;
}

.back {
    background-color: var(--light);
    border-radius: 5px;
}

.logo {
    max-width: 200px;
    border-radius: 50%;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}